.note {
    margin-top: 1em;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0px 0 1px rgba(10, 10, 10, .02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    border: 1px solid #1e1e1e;
    border-left-width: 3rem;
}

.note>div:first-child>div {
    font-weight: bold;
}

.note>div:first-child>div::before {
    content: " * ";
}


.note.tip {
    border-color: blue;
}

.note.important {
    border-color: red;
}