.notes {
    margin-top: 1em;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0px 0 1px rgba(10, 10, 10, .02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    border: 1px solid #1e1e1e;
    border-left-width: 3rem;
}

.notes.tip {
    border-color: rgb(4, 105, 227);
}

.notes.important {
    border-color: red;
}